{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-lg-6 col-md-8">
            <div class="card shadow">
                <div class="card-header text-center bg-primary text-white">
                    <h4>Login</h4>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'accounts:login' %}">
                        {% csrf_token %}
                        <!-- Email/Username Input -->
                        <div class="row mb-3">
                            <label for="username" class="col-sm-3 col-form-label">Username</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="username"  placeholder="username" name="username" required>
                            </div>
                        </div>
                        <!-- Password Input -->
                        <div class="row mb-3">
                            <label for="password" class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" placeholder="**********" id="password" name="password" required>
                            </div>
							<small>Forgot password? <a href="/register">Recover Password</a></small>
							
                        </div>
                        <div class=".captcha-container mb-3">
                            {{form.captcha}}
                          </div>
                        <!-- Login Button -->
                        <div class="row mb-3">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary w-100">Login</button>
                            </div>
                        </div>
                    </form>
                    
                </div>
                <div class="card-footer text-center">
                    <small>Don't have an account? <a href="/register">Register here</a></small>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}