{% extends 'base.html' %}
{% load static mag_tags %}
{% block head %}
<style>
    .img-latest{
        margin-right:10px;
        margin-bottom:10px;
        width:50px;
    }
</style>
{% endblock head %}
{% block title %}
Blog
{% endblock title %}
{% block content %}
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Welcome to CapitalShop Blog</h1>
                    <p class="lead mb-0">we are share the our experinces here.</p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        {% for posts in page_obj %}
                        <div class="col-lg-6">
                            <div class="card mb-4" style="height:476px;">
                                <a href="{% url 'mag:post' slug=posts.slug %}"><img class="card-img-top" style="height:235px;" src="{{posts.image.url}}" alt="image for {{posts.subject}}" /></a>
                                <div class="card-body">
                                    <div class="small text-muted">{{posts.publish_at|date:"d M Y"}}</div>
                                    <h2 class="card-title h4">{{posts.subject}}</h2>
                                    <p class="card-text">{{posts.content|truncatewords:15|striptags}}</p>
                                    <a class="btn btn-primary " href="{% url 'mag:post' slug=posts.slug %}">Read more →</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Pagination-->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            {% if page_obj.has_previous %}
                                <li class="page-item "><a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">Newer</a></li>
                            {% endif %}
                            {% if page_obj.number > 3 %}
                                <li class="page-item" aria-current="page"><a class="page-link" href="?page=1">1</a></li>
                                {% if page_obj.number > 4 %}
                                    <span>...</span>
                                {% endif %}
                            {% endif %}
                            {% for num in page_obj.paginator.page_range %}
                              {% if page_obj.number == num %}
                                <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <li class="page-item" aria-current="page"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                              {% endif %}
                            {%endfor%}
                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Older</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    {% include "inc/search.html" %}
                    <!-- Categories widget-->
                    {% categories %}
                    <!-- Side widget-->
                  {% popular_posts %}
                </div>
            </div>
        </div>
{% endblock content%}