{% extends 'base.html' %}
{% load accounts_tags %}
{% block content %}
<div class="container my-5">
    {% include 'inc/credit_card_form.html' %}
    {% include 'inc/delivery_info_form.html' %}
    <h1 class="mb-4">Checkout</h1>

    <h4 class="mb-3">Almost there! Please provide your details below to continue shopping.</h4>
    
    <!-- Error messages container -->
    <div class="errors alert alert-danger pb-2 pt-2" role="alert" style="display:none;"></div>
    {% include 'inc/error_handling.html' %}
    <!-- Saved Address Selection -->
    <form action="{% url 'shop:checkout' %}" method="POST">
        {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Saved Address or <a href="#" data-bs-toggle="modal" data-bs-target="#addAddressModal" >add a new</a></label>
        <select class="form-select" id="savedAddress" required name="delivery_info">
            <option selected disabled value="">Choose an address...</option>
            {% for addr in addresses %}
                <option value="{{ addr.id }}"  >{{ addr.address }}</option>
            {% endfor %}
            <option value="new">Add a new address</option>
        </select>
    </div>

    <!-- Saved Card Selection -->
    <div class="mb-3">
        <label class="form-label">Saved Card or <a href="#" data-bs-toggle="modal" data-bs-target="#addCardModal" >add a new</a></label>
        <select class="form-select" id="savedCard" required  name="payment_info">
            <option selected disabled value="">Choose a card...</option>
            {% for card in payment_methods %}
                <option value="{{ card.id }}">Credit Card ending in {{ card.card_number|splitter:4 }}</option>
            {% endfor %}
            <option value="new">Add a new card</option>
        </select>
    </div>
    {{form.captcha}}
    <hr class="my-4">
    <!-- Complete Checkout Button -->
    
    <button class="w-100 btn btn-primary btn-lg" type="submit">Complete</button>
    
</form>
</div>

<script>
    $(document).ready(function() {
        // Toggle new address fields
        $('#savedAddress').on('change', function() {
            if ($(this).val() === 'new') {
                $('#newAddressFields').removeClass('d-none');
            } else {
                $('#newAddressFields').addClass('d-none');
            }
        });

        // Toggle new card fields
        $('#savedCard').on('change', function() {
            if ($(this).val() === 'new') {
                $('#newCardFields').removeClass('d-none');
            } else {
                $('#newCardFields').addClass('d-none');
            }
        });

        // Handle new address form submission
        $('#addressForm').on('submit', function(event) {
            event.preventDefault();
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize(),
                success: function(response) {
                    if (response.success) {
                        $("#addAddressModal").modal('hide');
                        showAlert(response.message);
                        $("#alertModal").on('hidden.bs.modal', function() {
                            location.reload(); 
                        });
                    }                    
                    else{
                        $("#addAddressModal").modal('hide');
                        $('.errors').empty().css({'display': 'block'});
                        $.each(response.errors, function(key, value) {
                            $('.errors').append('<li>' + value.join(', ') + ' <a href="javascript:location.reload()">reload</a></li>');
                        });
                        setTimeout(function() {
                            location.reload();
                        }, 8000);
                    }
                },
                error: function(xhr, status, error) {
                    $('.errors').text('An error occurred: ' + error);
                }
        });
        });

        // Handle new card form submission
        $('#creditCardForm').on('submit', function(event) {
            event.preventDefault();
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize(),
                success: function(response) {
                    if (response.success) {
                        $("#addCardModal").modal('hide');
                        showAlert(response.message);
                        $("#alertModal").on('hidden.bs.modal', function() {
                            location.reload();
                        });
                    }                    
                    else{
                        $("#addCardModal").modal('hide');
                        $('.errors').empty().css({'display': 'block'});
                        $.each(response.errors, function(key, value) {
                            $('.errors').append('<li>' + value.join(', ') + ' <a href="javascript:location.reload()">reload</a></li>');
                        });  
                        setTimeout(function() {
                            location.reload();
                        }, 8000);   
                        
                    }
                },
                error: function(xhr, status, error) {
                    $('.errors').text('An error occurred: ' + error);
                }
        });
        });
    });
</script>
{% endblock %}