{% extends 'base.html' %}
{% load static%}
{% block title %}
 Home
{%endblock title%}
{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Capital Shop </h1>
                    <p class="lead fw-normal text-white-50 mb-0">buy something from us :)</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-1">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Popular Products</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for product in products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{product.image.url}}" style="height:220px;" alt="image for {{product.name}}" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name -->
                                    <h5 class="fw-bolder">{{product.name}}</h5>
                                    <!-- Product price -->
                                    ${{product.price}}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'shop:shopitem' slug=product.slug %}">View Product</a></div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </section>
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Latest Posts</h2>
                    <div class="row">
                        <!-- Blog entries-->
                         {% for post in posts %}
                        <div class="col-lg-5">
                            <!-- Featured blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" style="height:350px;" src="{{post.image.url}}" alt="image for {{post.subject}}" /></a>
                                <div class="card-body">
                                    <div class="small text-muted">{{post.publish_at|date:"d M Y"}}</div>
                                    <h3 class="card-title">{{post.subject}}</h3>
                                    <p class="card-text">{{post.content|truncatewords:15}}</p>
                                    <a class="btn btn-primary" href="#!">Read more →</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </section>
{% endblock content%}