<div class="modal fade" id="addCardModal" tabindex="-1" aria-labelledby="addCardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCardModalLabel">Add Credit Card</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="creditCardForm" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="credit_card"><i class="bi bi-credit-card-fill"></i></span>
                        <input type="text" class="form-control" id="card_number" placeholder="Card Number" maxlength="16" name='card_number' aria-label="credit card" aria-describedby="credit_card">  
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="date"><i class="bi bi-calendar"></i></span>
                        <input type="date" class="form-control" name="expiry_date" placeholder="Expiry Date" aria-label="expiry date" aria-describedby="date">  
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="cvv">cvv</span>
                        <input style="-webkit-text-security: disc;text-security: disc;" type="text" class="form-control"  maxlength="4"  name="cvv" placeholder="***" aria-label="cvv" aria-describedby="cvv">  
                    </div>
                    <div class="mb-3">
                        {{form.captcha}}
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>